<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 该mapper.xml映射文件的唯一标识符 -->
<mapper namespace="com.czj.mapper.OrderMapper">

    <resultMap id="order" type="com.czj.pojo.Order">
        <id column="order_id" property="orderId"></id>
        <result column="order_starttime" property="orderStartTime"></result>
        <result column="order_endtime" property="orderEndTime"></result>
        <result column="order_startposition" property="orderstartPosition"></result>
        <result column="order_endposition" property="orderEndPosition"></result>
        <result column="order_content" property="orderContent"></result>
        <result column="order_kind" property="orderKindId"></result>
        <result column="order_price" property="orderPrice"></result>
        <result column="order_request" property="orderRequest"></result>
        <result column="order_fromuserid" property="orderFromUserId"></result>
        <result column="order_touserid" property="orderToUserId"></result>
        <result column="order_concatway" property="orderConcatWay"></result>
        <result column="order_status" property="orderStatus"></result>
    </resultMap>


    <select id="queryPublishedOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order   where order_touserid = 0;
    </select>

    <update id="updateOrderStatus" parameterType="int">
        update t_order set order_status = 1 where order_id = #{orderId}
    </update>

    <select id="queryAllOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order   ;
    </select>

    <select id="queryPackagesOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 1 and order_status = 0 ;
    </select>

    <select id="queryMealOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 2 and order_status = 0  ;
    </select>

    <update id="endOrder" parameterType="int">
        update t_order set    order_status = 2 where order_id = #{orderId}
    </update>

    <select id="queryDidiOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 3 and order_status = 0  ;
    </select>

    <select id="queryFileOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 4 and order_status = 0  ;
    </select>

    <select id="queryBuyOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 5 and order_status = 0  ;
    </select>

    <select id="queryLostOrders" resultMap="order" >
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_kind = 6 and order_status = 0 ;
    </select>

    <insert id="makeNewOrder" parameterType="com.czj.pojo.Order" >
        insert  into t_order(order_startposition,order_endposition,order_content,order_kind,order_price,order_request,order_fromuserid,order_concatway,order_status)
                    values(#{orderstartPosition},#{orderEndPosition},#{orderContent},#{orderKindId},#{orderPrice},
                            #{orderRequest},#{orderFromUserId},#{orderConcatWay},#{orderStatus})
    </insert>

    <delete id="deleteOrderByOrderId" parameterType="int">
        delete  from t_order where order_id = #{orderId}
    </delete>

    <update id="updateOrderByOrderId"  parameterType="com.czj.pojo.Order">
        update t_order set order_startposition=#{orderstartPosition},order_endposition=#{orderEndPosition},order_content=#{orderContent}
                            ,order_kind=#{orderKindId},order_price=#{orderPrice},order_request=#{orderRequest},order_fromuserid=#{orderFromUserId}
                            ,order_touserid=#{orderToUserId},order_concatway=#{orderConcatWay},order_status=#{orderStatus}  where order_id=#{orderId}
    </update>


    <select id="getMyPublishde" parameterType="int" resultMap="order">
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_fromuserid = #{id}
    </select>

    <select id="getMyRecived" parameterType="int" resultMap="order">
        select order_id,order_startposition,order_endposition,order_content,order_kind,order_price,order_request,
        order_fromuserid,order_touserid,order_concatway,order_status from  t_order where order_touserid = #{id}
    </select>

    <update id="reciveOrder">
        update t_order set order_touserid=#{userId} where order_id = #{orderId}
    </update>


</mapper>